@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap')

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: 'Cabin', sans-serif;

}

/* Header */
header {
    background-color: rgba(22, 64, 28, 0.5)
}

#menu {
    list-style-type: none;  
}

#menu > li {
    color: #ffffff;
    text-decoration: none; 
}

/* Main content */
main {
    background-color: rgb(109, 208, 246);
}

/* Footer */
footer {
    background-color: lightpink;
}