@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital@0;1&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;

}

/* Fonts for h1 */

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

/* Header */
header {
    background-color: rgba(22, 64, 28, 0.5);
}

/* Decoration of navigation bar */

a {
    text-decoration:none; 
    color: #ffffff;
}

#menu {
    font-size: 100%; 
    letter-spacing: 2px;
    list-style-type: none;  
    display: flex;
    justify-content:space-between;
    text-decoration: underline;
}


ul {
    padding-inline-start: 0px;
}


/* Main content */
main {
    background-color: #ffffff;
    flex: 1 0 auto; 
    color: #000000;
}

/* Image */

#glass {
    height: 300px;
    width: 100%;
    background: url("../images/margarita.webp") no-repeat center center/cover;
    position: relative; 
}

/* Recipe section */
#recipe {
    background-color: rgba(145,178,151, 0.4); 
    color: #000000;
}

#recipe ul {
    list-style-type: disc;
    padding-inline-start: 20px; 
}

th {
    text-align: start;
    width: 40%;
}
#servings {
    text-align: center; 
}

/* Directions section */

h3 {

    color: #000000; 
}

ol {
    padding-inline-start: 20px;
    color: #000000; 
}

/* Sign up section */
#signup {
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgba(145,178,151, 0.4);
}

button {
    background-color: rgb(145,178,151); 
}

/* Footer */
footer {
    background-color: rgb(243, 176, 108, 0.7);
    height: 80px;
}

#connect {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#connect {
    font-size: 160%;
}


/* Media query for tablets and larger (768px and larger) */

@media screen and (min-width: 768px) {

h1 {
    display: flex;
    justify-content: center;
}

#menu {

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#parent {

    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
}

#glass{

      height: 300px; 
      width: 50%;  
      display: inline-block;
      align-self: flex-end;
} 

#origin {
    height: 300px; 
    width: 40%;
    display: inline-block; 
    align-self: flex-start;

}

#recipe-parent {
    display: flex;
    flex-direction: row;
}

}

/* Larger devices (laptops and desktops min: 992px) */

@media screen and (min-width: 992px) {

    #recipe-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #recipe {
        width: 100%;
    }

    #directions {
        width: 100%;
    }
}